<div style="position: relative; top: 65px;" >
  <h1>Shopping Cart</h1>
  <% @shopping_cart.each do |user_item| %>
    <div style="border: 1px solid black;">
    <%= user_item.item.name %>
      <br>
      <%= user_item.quantity %>
      <br>
      <%= user_item.special_instructions %>
      <br>
      <%= user_item.quantity * user_item.item.price %>
    </div>
  <% end %>

  Total: <%= @shopping_cart_total %>
  Quantity: <%= @shopping_cart_quantity %>

  <% if current_user.user_items.where(state: "pending").length > 0 %>
  <%= form_tag orders_path do %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>
  <% else %>
  <h1>You have not added any items to your shopping cart!</h1>
  <% end %>
</div>
