<div style="position: relative; top: 65px;" >
  <h1>Shopping Cart</h1>
  <% @shopping_cart.each do |user_item| %>
    <div style="border: 1px solid black;">
    <%= user_item.item.name %>
      <br>
      <%= user_item.quantity %>
      <% if user_item.special_instructions.length > 0 %>
      <br>
      <%= user_item.special_instructions %>
      <% end %>
      <br>
      <%= user_item.quantity * user_item.item.price %>
      <% unless user_item.options.nil? %>
      <% user_item.options.each do |option| %>
        <% itemOption = ItemOption.find(option) %>
        <p><%= itemOption.name %></p>
      <% end %>
      <% end %>

    </div>
  <% end %>

  Total: <%= @shoppingCartPriceCounter %>
  Quantity: <%= @shoppingCartQuantity %>

  <% if current_user.user_items.where(state: "pending").length > 0 %>
  <%= form_tag orders_path do %>
    <%= hidden_field_tag "shopping_cart_total", @shopping_cart_total.to_i %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>
  <% else %>
  <h1>You have not added any items to your shopping cart!</h1>
  <% end %>
</div>
