<div class="" style="display: flex; width: 90%; margin: 0px auto;">
  <div style="width: 50%;">
    <h1>Checkout Summary</h1>
    <div>
      <h5><i class="fas fa-motorcycle" style="margin-right: 8px;"></i>Delivery Or Pick Up?</h5>
      <form id="order-type-form" action="" style="margin-bottom: 20px;">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="delivery" value="delivery" checked>
          <label class="form-check-label" for="delivery">
            Delivery
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="pickup" value="pickup">
          <label class="form-check-label" for="pickup">
            Pickup
          </label>
        </div>
      </form>

      <h5><i class="fas fa-user" style="margin-right: 8px;"></i>Order Contact Info</h5>

      <form id="contact-address-form" action="<%= addContact_order_path(params[:order_id]) %>" method="POST">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 16px">
          <div class="form-group">
          <label for="first_name">First Name</label>
          <input class="form-control" type="text" id="first_name" name="first_name" required <% if current_user.contacts.length > 0 %>value="<%= current_user.contacts[0].first_name  %> " <% end %>>
        </div>
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input class="form-control" type="text" id="last_name" name="last_name" required <% if current_user.contacts.length > 0 %>value="<%= current_user.contacts[0].last_name  %> " <% end %>>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="text" id="email" name="email" required <% if current_user.contacts.length > 0 %>value="<%= current_user.contacts[0].email  %> " <% end %>>
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input class="form-control" type="text" id="phone" name="phone" required <% if current_user.contacts.length > 0 %>value="<%= current_user.contacts[0].phone  %> " <% end %>>
        </div>
        <% if current_user.contacts.length == 0 %>
          <div class="form-check">
            <input id="save_contact" class="form-check-input" name="saved" type="checkbox" value="true">
            <label class="form-check-label" for="save_contact">Save contact info for future orders</label>
          </div>
        <% end %>
        </div>




        <h5><i class="fas fa-map-pin" style="margin-right: 8px;"></i><span class="delivery-info-heading">Delivery Info</span></h5>
<fieldset class="address-fieldset">
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-column-gap: 16px">

          <div class="form-group">
          <label for="street_address">Street Address</label>
          <input class="form-control" type="text" id="street_address" name="street_address">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input class="form-control" type="text" id="city" name="city" required>
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input class="form-control" type="text" id="state" name="state" required>
        </div>
        <div class="form-group">
          <label for="colony">Colony</label>
          <input class="form-control" type="text" id="colony" name="colony" required>
        </div>
        <div class="form-group">
          <label for="zipcode">Zipcode</label>
          <input class="form-control" type="text" id="zipcode" name="zipcode" required>
        </div>

        </div>
        </fieldset>
      </form>

    </div>


  </div>

<div style="width: 40%">
      <p>Purchase of <strong><%= @order.quantity %> food items</strong> for <strong class="order-amount" data-amount="<%= @order.amount %>" data-delivery="<%= @restaurant.delivery_fee %>"><%= @order.amount.to_i + @restaurant.delivery_fee.to_i %></strong></p>
      <button id="pay" class="btn btn-primary">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        const contactAddressForm = document.getElementById('contact-address-form');
        paymentButton.addEventListener('click', () => {
          if ( contactAddressForm.checkValidity() ) {
            contactAddressForm.submit();
          } else {
            contactAddressForm.reportValidity();
            return;
          }
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>


</div>






</div>

<div class="container">
  <div class="row py-4">
    <div class="col">

    </div>
  </div>
</div>


<%= javascript_pack_tag 'checkout_summary' %>
