                <!--  -->



<div class="container">
  <div class="row">
    <div class=" col-xs-12 col-sm-4 offset-sm-4">
      <div class="login-form">
        <h2>Sign up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }, placeholder: "bob@gmail.com" %>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>



sessions new

<div class="container">
  <div class="row">
    <div class=" col-xs-12 col-sm-4 offset-sm-4">
      <div class="login-form">
        <h2>Log in</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" }, placeholder: "bob@gmail.com" %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" }, placeholder: "**********" %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

           <!-- <li><%= link_to "Admin", user_admins_path(current_user) %></li> -->



                   // <input id="con-todo" type="checkbox" name="options[]" value="con todo">
        // <label for="con-todo">con todo</label>
        // <br>
        // <input id="salsa-chipotle" type="checkbox" name="options[]" value="salsa chipotle">
        // <label for="con-todo">salsa chipotle</label>
        // <br>
        // <input id="rajas" type="checkbox" name="options[]" value="rajas">
        // <label for="con-todo">rajas</label>


                  <input id="con-todo" type="checkbox" name="options[]" value="con todo">
          <label for="con-todo">con todo</label>
          <br>
          <input id="salsa-chipotle" type="checkbox" name="options[]" value="salsa chipotle">
          <label for="con-todo">salsa chipotle</label>
          <br>
          <input id="rajas" type="checkbox" name="options[]" value="rajas">
          <label for="con-todo">rajas</label>

                     <!-- <li><%= link_to "Admin", user_admins_path(current_user) %></li> -->




<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>





<!--         <%=form_tag do %>
        <%= select_tag "count", raw("<option>1</option><option>2</option><option>3</option><option>4</option>") %>
        <% end %> -->



        <!-- <li><%= link_to "Admin", user_admins_path(current_user) %></li> -->



                   <!--<li><%= link_to "Home", root_path %></li>
           <li><a href="#order">Order</a></li>
           <li><a href="">Order</a></li> -->
           <!-- <li><a href="">Promotions</a></li>
           <li><%= link_to "Admin", user_admins_path(current_user) %></li>
           <li><a href="#about-us">About Us</a></li>
           <li><a href="#contact">Contact</a></li> -->


              <header class="header-desktop">
      <nav class="nav-desktop" style="border-bottom: 1px solid hsla(116, 0%, 90%, 1.00)">
        <% itemsCount = 0 %>
        <% if user_signed_in? %>
        <% if current_user.user_items.where(state: "pending") %>
        <% current_user.user_items.where(state: "pending").each do |item| itemsCount += item.quantity end %>
        <% end %>
        <% end %>
          <!-- <img src="/assets/sample_logo.png" alt="cant find the image"> -->
          <!-- <%= image_tag "sample_logo.png", alt: "restaurant logo", class: "header-logo" %> -->
         <ul>

           <% if user_signed_in? %>
             <li><%= link_to user_items_path do %><div style="position: relative;"><i class="fas fa-shopping-basket"></i><span class="shopping-cart-count-icon"><%= current_user.user_items.where(state: "pending") ? itemsCount : 0 %></span></div><% end %></li>
          <% else %>
            <li><%= link_to user_items_path do %><div style="position: relative;"><i class="fas fa-shopping-basket"></i><span class="shopping-cart-count-icon">0</span></div><% end %></li>
           <% end %>
         </ul>
      </nav>
   </header>


<!--         <div class="tortas menu-category">
          <h5><strong>TORTAS</strong></h5>
          <ul>
            <li><a class="testItem">Torta de pierna</a></li>
            <li><a>Torta de pollo</a></li>
            <li><a>Torta de milanesa</a></li>
            <li><a>Torta de chuleta</a></li>
            <li><a>Torta de chuleta</a></li>
            <li><a>Torta de bistec</a></li>
            <li><a>Torta de milanesa de pollo</a></li>
            <li><a>Torta de milanesa de pollo con queso</a></li>
          </ul>
        </div>

        <div class="hamburugesas menu-category">
          <h5><strong>HAMBURGUESAS</strong></h5>
          <ul>
            <li><a>Hamburguesa con queso amarillo</a></li>
            <li><a>Hamburguesa con quesillo</a></li>
            <li><a>Hamburguesa con jamón y queso amarillo</a></li>
            <li><a>Hamburgusa con tocino y queso amarillo</a></li>
            <li><a>Hamburguesa con piña y quesillo</a></li>
            <li><a>Hamburguesa Hawaina</a></li>
            <li><a>Hamburguesa doble carne con queso</a></li>
          </ul>
        </div>

        <div class="sides menu-category">
          <h5><strong>SIDES</strong></h5>
          <ul>
            <li><a>Papas</a></li>
            <li><a>Papas fritos</a></li>
            <li><a>Macaroni</a></li>
            <li><a>Bread sticks</a></li>
          </ul>
        </div>

        <div class="bebidas menu-category">
          <h5><strong>BEBIDAS</strong></h5>
          <ul>
            <li><a>Refresco</a></li>
            <li><a>Cerveza</a></li>
            <li><a>Agua fresca</a></li>
            <li><a>Horchata</a></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div> -->



        // const intersectionWatch = document.querySelectorAll('.intersection');


        // let options = {
        //   root: null,
        //   rootMargin: "-200px 0px -600px 0px",
        //   threshold: 0.05
        // }

        // const menuHeading = document.querySelector('#order');
        // Functions

        // function conlog() {
        //   console.log(menuHeading.getBoundingClientRect().top);
        // }

        // window.addEventListener('scroll', conlog);

        // function addHighlightIntersection(element) {
        //   categoryNames.forEach((name) => {
        //     name.classList.remove('categoryNameHighlight');
        //   });
        //   categoryNames.forEach((name) => {
        //     if (name.innerText === element) {
        //       name.classList.add('categoryNameHighlight');
        //       categorySelected = name;
        //     }
        //   });
        // }


        // function obCallBack(entries) {
        //   entries.forEach(entry => {
        //     if( entry.isIntersecting) {
        //       console.log("intersecting");
        //       const element = entry.target.classList[0];
        //       addHighlightIntersection(element);
        //     }
        //   })
        //   // if(payload[0].intersectionRatio === 1) {
        //     // console.log('Changed Categories');
        //     // console.log(payload[0].target.classList[0]);
        //     // const element = payload[0].target.classList[0];
        //     // console.log(element);
        //     // addHighlightIntersection(element);
        //   // }

        // }

        // let observer = new IntersectionObserver(obCallBack, options);
        // // 150 and 400
        // intersectionWatch.forEach((category) => {
        //   observer.observe(category)
        // });


        <option class="quantity-form-option" value="2">2</option>
        <option class="quantity-form-option" value="3">3</option>
        <option class="quantity-form-option" value="4">4</option>
        <option class="quantity-form-option" value="5">5</option>
        <option class="quantity-form-option" value="6">6</option>
        <option class="quantity-form-option" value="7">7</option>
        <option class="quantity-form-option" value="8">8</option>
        <option class="quantity-form-option" value="9">9</option>
        <option class="quantity-form-option" value="10">10</option>
        <option class="quantity-form-option" value="11">11</option>
        <option class="quantity-form-option" value="12">12</option>
        <option class="quantity-form-option" value="13">13</option>
        <option class="quantity-form-option" value="14">14</option>
        <option class="quantity-form-option" value="10">10</option>
        <option class="quantity-form-option" value="11">11</option>
        <option class="quantity-form-option" value="12">12</option>
        <option class="quantity-form-option" value="13">13</option>
        <option class="quantity-form-option" value="14">14</option>
        <option class="quantity-form-option" value="10">10</option>
        <option class="quantity-form-option" value="11">11</option>
        <option class="quantity-form-option" value="12">12</option>
        <option class="quantity-form-option" value="13">13</option>
        <option class="quantity-form-option" value="14">14</option>



        <%= setOrderType_order_path(params[:order_id]) %>

        <% if @order.order_type == 'delivery'%> checked <% end %>
        <% if @order.order_type == 'pickup'%> checked <% end %>

        <!--                 <h5><strong class="order-amount" data-amount="<%= @order.subtotal %>" data-delivery="<%= @restaurant.delivery_fee %>"><%= @order.subtotal + @restaurant.delivery_fee %></strong></h5> -->
