                <!-- data-photo="<%= item.photo.key %>" -->



<div class="container">
  <div class="row">
    <div class=" col-xs-12 col-sm-4 offset-sm-4">
      <div class="login-form">
        <h2>Sign up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }, placeholder: "bob@gmail.com" %>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>



sessions new

<div class="container">
  <div class="row">
    <div class=" col-xs-12 col-sm-4 offset-sm-4">
      <div class="login-form">
        <h2>Log in</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" }, placeholder: "bob@gmail.com" %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" }, placeholder: "**********" %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

           <!-- <li><%= link_to "Admin", user_admins_path(current_user) %></li> -->



                   // <input id="con-todo" type="checkbox" name="options[]" value="con todo">
        // <label for="con-todo">con todo</label>
        // <br>
        // <input id="salsa-chipotle" type="checkbox" name="options[]" value="salsa chipotle">
        // <label for="con-todo">salsa chipotle</label>
        // <br>
        // <input id="rajas" type="checkbox" name="options[]" value="rajas">
        // <label for="con-todo">rajas</label>


                  <input id="con-todo" type="checkbox" name="options[]" value="con todo">
          <label for="con-todo">con todo</label>
          <br>
          <input id="salsa-chipotle" type="checkbox" name="options[]" value="salsa chipotle">
          <label for="con-todo">salsa chipotle</label>
          <br>
          <input id="rajas" type="checkbox" name="options[]" value="rajas">
          <label for="con-todo">rajas</label>

                     <!-- <li><%= link_to "Admin", user_admins_path(current_user) %></li> -->




<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>





<!--         <%=form_tag do %>
        <%= select_tag "count", raw("<option>1</option><option>2</option><option>3</option><option>4</option>") %>
        <% end %> -->



        <!-- <li><%= link_to "Admin", user_admins_path(current_user) %></li> -->
