<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Title</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
   <header>
      <nav>
          <!-- <img src="/assets/sample_logo.png" alt="cant find the image"> -->
          <!-- <%= image_tag "sample_logo.png", alt: "restaurant logo", class: "header-logo" %> -->
         <ul>
           <li><%= link_to "Home", root_path %></li>

           <li><a href="#order">Order | Menu</a></li>
           <!-- <li><a href="">Order</a></li> -->
           <!-- <li><a href="">Promotions</a></li> -->
           <li><a href="#about-us">About Us</a></li>
           <li><a href="#contact">Contact</a></li>
           <li><%= link_to user_items_path do %><i class="fas fa-shopping-basket"></i><% end %></li>
         </ul>
      </nav>
   </header>

    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= yield(:modal) %>
  </body>
</html>
