<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Title</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- <%= render 'shared/navbar' %> -->
   <header class="header-desktop">
      <nav class="nav-desktop" style="border-bottom: 1px solid hsla(116, 0%, 90%, 1.00)">
        <% itemsCount = 0 %>
        <% if user_signed_in? %>
        <% if current_user.user_items.where(state: "pending") %>
        <% current_user.user_items.where(state: "pending").each do |item| itemsCount += item.quantity end %>
        <% end %>
        <% end %>
          <!-- <img src="/assets/sample_logo.png" alt="cant find the image"> -->
          <!-- <%= image_tag "sample_logo.png", alt: "restaurant logo", class: "header-logo" %> -->
         <ul>
           <!--<li><%= link_to "Home", root_path %></li>
           <li><a href="#order">Order</a></li>
           <li><a href="">Order</a></li> -->
           <!-- <li><a href="">Promotions</a></li>
           <li><%= link_to "Admin", user_admins_path(current_user) %></li>
           <li><a href="#about-us">About Us</a></li>
           <li><a href="#contact">Contact</a></li> -->
           <% if user_signed_in? %>
             <li><%= link_to user_items_path do %><div style="position: relative;"><i class="fas fa-shopping-basket"></i><span class="shopping-cart-count-icon"><%= current_user.user_items.where(state: "pending") ? itemsCount : 0 %></span></div><% end %></li>
          <% else %>
            <li><%= link_to user_items_path do %><div style="position: relative;"><i class="fas fa-shopping-basket"></i><span class="shopping-cart-count-icon">0</span></div><% end %></li>
           <% end %>
         </ul>
      </nav>
   </header>

   <header class="header-mobile">
      <nav>
        <i class="fas fa-bars hamburger-button"></i>
          <div id="main-logo">
          <%= link_to root_path do %>
          <span style="color: hsla(360, 55%, 40%, 1.00)">Tortas Mr. Elorduy</span>
          <% end %>
          </div>

        <div>
          <% if user_signed_in? %>
            <%= link_to user_items_path do %><div style="position: relative;"><i class="fas fa-shopping-basket"></i><span class="shopping-cart-count-icon"><%= current_user.user_items.where(state: "pending") ? itemsCount : 0 %></span></div><% end %></li>
          <% else %>
            <%= link_to user_items_path do %><div style="position: relative;"><i class="fas fa-shopping-basket"></i><span class="shopping-cart-count-icon">0</span></div><% end %>
          <% end %>
        </div>
      </nav>
   </header>

   <div class="modalOutside">
     <div class="modalInside" style="position: relative;">
        <h1>hello</h1>
        <ul>
          <li></li>

          <li><a href="#order">Order</a></li>
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
       <!-- <i class="fas fa-times-circle modal-close-button"></i> -->
     </div>
   </div>

    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= yield(:modal) %>
    <%= yield(:shopping_cart) %>
    <%= yield(:menu_categories) %>
    <%= javascript_pack_tag 'mobile_navbar' %>
  </body>
</html>
